<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<html>
    <head>
        <title>Dashboard</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="style.css" rel="stylesheet" type="text/css"/>
        <link href="../css/style.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header>
            <a href="#" id="logo" target="_blank"></a>
            <label for="toggle-1" class="toggle-menu"></label>
            <input type="checkbox" id="toggle-1">
            <nav>
            <ul>
            <li><a href=""><i class="icon-home"></i>Inicio</a></li>
            <li><a href=""><i class="icon-user"></i>Productos</a></li>
            <li><a href="#"><i class="icon-thumbs-up-alt"></i>Agregar productos</a></li>
            <li><a href=""><i class="icon-gear"></i>Contactenos</a></li>
            </ul>
            </nav>
        </header>
        <section id="about" class="content">
        </section>
    </body>
</html>

    <!<!--
    
    <head>
        <title>Gameshop</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="style.css" rel="stylesheet" type="text/css"/>
    </head>

    <body>
        <header th:fragment="header">

            <nav id="navbar">
                <a href="#">Inicio</a>
                <a href="@{/mostrarCatalogo}">Productos</a>
                <a href="@{/nuevoJuego}">Agregar Productos</a>
                <a href="#">Contactenos</a>
        </header>
    </body>
     -->

