<!DOCTYPE html>

<html  xmlns:th="http://www.thymeleaf.org"
       xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link href="../static/style.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>
        <br>
            <h1>Catalogo de Juegos</h1>
            <br>
                <table border ="1">
                    <tr>
                        <td>Nombre</td>
                        <td>Genero</td>
                        <td>Empresa</td>
                        <td>Plataforma</td>
                        <td>Numero de Jugadores</td>
                    </tr>
                    
                    <tr th:each="item : ${juegos}">
                        <td th:text="${item.nombre}"></td>
                        <td th:text="${item.genero}"></td>
                        <td th:text="${item.empresa}"></td>
                        <td th:text="${item.plataforma}"></td>
                        <td th:text="${item.numjugadores}"></td>
                        <td><a th:href="@{/modificarJuego/} + ${item.idjuego}">Modificar</a></td>
                    </tr>
                </table>    
    </body>
</html>
